.get-start-card {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(60, 64, 67, 0.3), 0 8px 20px rgba(60, 64, 67, 0.15);
}
.get-start-title {
  color: greenyellow;
  font-weight: 700;
}
.get-started-btn,
.get-started-btn:hover {
  text-transform: uppercase;
  border: 2px solid #242424;
}
.blockquote {
  font-weight: 700;
}
