.services {
  height: 110vh;
}
.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
}
.services-title {
  font-weight: 700;
}
.section.services {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.services-content {
  text-align: center;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 20px;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.service-card .service-image {
  height: 120px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.service-card .service-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.service-card .service-details {
  padding: 20px;
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1rem;
  color: #666666;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 90%;
    max-width: 400px;
  }
}
