:root {
  --font-family: 'Lato', sans-serif;
  --primary-color: #646cff;
  --secondary-color: #535bf2;
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --white-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: #f8f9fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--secondary-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}
button:hover {
  background-color: #535bf2;
  border-color: #535bf2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #213547;
    --background-color: #ffffff;
    --primary-color: #747bff;
    --secondary-color: #646cff;
  }

  a:hover {
    color: var(--primary-color);
  }

  button {
    background-color: #f9f9f9;
    color: var(--text-color);
  }
}
